* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #fff;
    background-color: #4d4d4d;
}

header {
    color: #005c4b;
    background-color: #e3fed3;
    padding: 50px;
}

.header-btn {
    display: inline;
    padding: 25px 25px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5ms;
}

.header-btn:hover {
    border: 1px solid #005c4b;
    border-radius: 5px;
}

main {
    padding: 300px;
}
footer {
    padding: 25px 25px;
    color: #005c4b;
    background-color: #e3fed3;
}

.copy {
    padding: 15px;
    background-color: #4d4d4d;
    text-align: center;
}
