* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #fff;
    background-color: #4d4d4d;
}

header {
    color: #005c4b;
    background-color: #e3fed3;
    width: 100%;
}

.logo-header,
.menu {
    display: inline-block;
    vertical-align: middle;
}

.logo-header {
    padding: 15px;
    margin-left: 100px;
    width: calc(50% - 115px);
}

.menu {
    padding: 15px;
    text-align: end;
    margin-right: 100px;
    width: calc(50% - 115px);
}

.header-btn {
    display: inline-block;
    list-style-type: none;
    padding: 15px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5ms;
}

.header-btn a {
    text-decoration: none;
    color: #005c4b;
}

.header-btn:hover {
    border: 1px solid #005c4b;
    border-radius: 5px;
}

main {
    padding: 300px;
}
footer {
    color: #005c4b;
    background-color: #e3fed3;
    width: 100%;
}

.logo-footer,
.menu-footer,
.credit-footer {
    display: inline-block;
    vertical-align: middle;
}

.logo-footer {
    padding: 15px;
    margin-left: 100px;
    width: calc(25% - 115px);
}
.menu-footer {
    padding: 15px;
    text-align: center;
    margin-right: 100px;
    width: calc(50% - 115px);
}
.credit-footer {
    padding: 15px;
    text-align: end;
    margin-right: 100px;
    width: calc(25% - 115px);
    font-weight: bold;
}

.credit-footer ul {
    list-style-type: none;
    padding: 20px;
}

.credit-footer a {
    text-decoration: none;
    color: #005c4b;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.credit-footer a:hover {
    border-bottom: 1px solid #005c4b;
    border-radius: 5px;
}

.footer-btn {
    list-style-type: none;
    padding: 15px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5ms;
}

.footer-btn a {
    text-decoration: none;
    color: #005c4b;
}

.footer-btn:hover {
    border: 1px solid #005c4b;
    border-radius: 5px;
}

.copy {
    padding: 15px;
    background-color: #4d4d4d;
    text-align: center;
}
