* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #fff;
    background-color: #3d3d3d;
}
header {
    background-color: #f26c4b;
    text-align: center;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo,
header nav {
    display: inline-block;
}

.logo {
    width: calc(40% - 5px);
}

header nav {
    width: calc(60% - 5px);
}

.btn {
    background-color: #f0494b;
}
